<div class="map-select clickable">
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox = "150 70 590 370" version = "1.1">
<!-- svg generated using QGIS www.qgis.org -->
<a data-toggle="tooltip" data-placement="top" xlink:title="Group 2" xlink:href="/segments_area/102">
<g id="areas_mapraid_2" fill="#66C" stroke="#FFFFFF" stroke-width="0.4" stroke-miterlimit="10">
<path d="M 382,92 L 388,193 L 388,211 L 519,241 L 567,120 L 382,92 " />
</g>
</a>
<a data-toggle="tooltip" data-placement="top" xlink:title="Group 4" xlink:href="/segments_area/104">
<g id="areas_mapraid_4" fill="#66C" stroke="#FFFFFF" stroke-width="0.4" stroke-miterlimit="10">
<path d="M 179,200 L 218,281 L 391,285 L 388,211 L 388,193 L 179,200 " />
</g>
</a>
<a data-toggle="tooltip" data-placement="top" xlink:title="Group 5" xlink:href="/segments_area/105">
<g id="areas_mapraid_5" fill="#66C" stroke="#FFFFFF" stroke-width="0.4" stroke-miterlimit="10">
<path d="M 708,303 L 685,271 L 686,239 L 519,241 L 388,211 L 391,285 L 495,289 L 708,303 " />
</g>
</a>
<a data-toggle="tooltip" data-placement="top" xlink:title="Group 1" xlink:href="/segments_area/101">
<g id="areas_mapraid_1" fill="#66C" stroke="#FFFFFF" stroke-width="0.4" stroke-miterlimit="10">
<path d="M 382,92 L 184,132 L 179,200 L 388,193 L 382,92 " />
</g>
</a>
<a data-toggle="tooltip" data-placement="top" xlink:title="Group 6" xlink:href="/segments_area/106">
<g id="areas_mapraid_6" fill="#66C" stroke="#FFFFFF" stroke-width="0.4" stroke-miterlimit="10">
<path d="M 215,303 L 390,376 L 497,397 L 495,289 L 391,285 L 218,281 L 215,303 " />
</g>
</a>
<a data-toggle="tooltip" data-placement="top" xlink:title="Group 3" xlink:href="/segments_area/103">
<g id="areas_mapraid_3" fill="#66C" stroke="#FFFFFF" stroke-width="0.4" stroke-miterlimit="10">
<path d="M 567,120 L 519,241 L 686,239 L 689,236 L 664,230 L 706,205 L 679,130 L 642,116 L 567,120 " />
</g>
</a>
<a data-toggle="tooltip" data-placement="top" xlink:title="Group 7" xlink:href="/segments_area/107">
<g id="areas_mapraid_7" fill="#66C" stroke="#FFFFFF" stroke-width="0.4" stroke-miterlimit="10">
<path d="M 497,397 L 568,382 L 646,406 L 634,373 L 711,320 L 708,303 L 495,289 L 497,397 " />
</g>
</a>
</svg>
</div>
